.c3 path{
    fill: none;
    stroke: #ddd;
}

.c3-line {
  stroke-width: 2px;
}

.c3-grid line{
    stroke: #f0f0f0
}

.c3-ygrid{
    stroke-dasharray:0
}

.c3-xgrid{
    stroke-dasharray:0
}

.c3-tooltip td{
    border-left:1px solid #ddd
}

.c3-tooltip tr{
    border:1px solid #ddd
}